body {
  margin: 0px;
  padding: 0px;
}

.main--container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.header {
  text-align: center;
  color: white;
  background: #f55a5a;
}

.icon--header {
  width: 100%;
  margin: 0 auto;
}

.icon--header img {
  width: fit-content;
}

.card {
  display: flex;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  padding: 10px;
}

.card--content {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.location {
  color: red;
}

a {
  display: inline-block;
  margin-left: 4px;
}
